<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.goldfish.qt.minesweeper"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="auto">

    <!-- 你现在和以后可能需要的权限直接写死 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->

    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="35" />

    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:label="MineSweeper"
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|uiMode|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>